<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <my-multiselect [label]="'Countries'" [placeholder]="'Select countries'" [data]="countries"
                    [dropdownSettings]="countriesDropdownSettings" (result)="selectedCountry$.next($event)"></my-multiselect>
    <div>

      <my-multiselect [label]="'Devices'" [placeholder]="'Select devices'" [data]="devices" [dropdownSettings]="devicesDropdownSettings"
                      (result)="selectedDevice$.next($event)"></my-multiselect>

      <div class="table-grid">
        <div class="table-grid-header" *ngIf="(testers$ | async)?.length !== 0">
          <div>Id</div>
          <div>First Name</div>
          <div>Last Name</div>
          <div>Country</div>
          <div>Last login</div>
          <div>Experiance</div>
        </div>
        <div class="table-grid-row"
             *ngFor="let tester of testers$ | async | paginate: { id: 'server', itemsPerPage: rowsPerPage, currentPage: pageNumber, totalItems: total} ">
          <div class="cell">{{tester.id}}</div>
          <div class="cell">{{tester.firstName}}</div>
          <div class="cell">{{tester.lastName}}</div>
          <div class="cell">{{tester.country}}</div>
          <div class="cell">{{tester.lastLogin | date : 'yyyy-MM-dd hh:mm'}}</div>
          <div class="cell">{{tester.experience}}</div>

        </div>
        <div class="col-12" *ngIf="(testers$ | async)?.length === 0">
          <div class="alert alert-info alert-dismissable">
            <strong>No results found!</strong>
          </div>
        </div>
        <div class="col-12 pagination">
          <pagination-controls (pageChange)="onPageChange($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
