.table-grid {
  &-header, &-body, &-row {
    display: grid;
  }
  &-header {
    div {
      padding: 0.75rem 1rem;
      font-weight: bold;
    }
  }

  .cell {
    display: flex;
    padding: 1rem 1rem;
  }
}


.table-grid {
  position: relative;
  min-height: 15rem;
  &-header,
  &-row {
    grid-template-columns: 10% 15% 15% 10% 30% 20%
  }
}
